/* .menuBar{
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition:max-height 2.5s ease, opacity 2.5s ease;
    }
    .menuBar.open{
        max-height: 300px;
        opacity: 1;
        }
             */


 
#account-btn{
    cursor: pointer;
}

.navitems:hover{
    cursor: pointer;
    color: #FD8F5F;
}
.navBtn:hover{
    cursor: pointer;
    color: #FD8F5F;
}